# Python
__pycache__/
*.pyc
.env
.venv
venv/
*.egg-info/

# Data & Models - Exclude large files from Git
app/route_optimization/data/raw_ais

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE specific
.idea/
.vscode/

# Other
.cache/
.cache.sqlite